apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 5000        # Service port
      targetPort: 5000  # Container port
      nodePort: 30007   # Access via Minikube
